<div class="container">

  <div class="credits">

    <div class="row">
      <div class="col offset-lg-1 col-lg-10 text">

        <p>Special thanks to everyone who helped out!<br>
          So if we forgot anyone, tough shit!<br>
          Thanks Ted Depalma and Bob Spector for the quicktime movies. Thanks Russian Hill for letting us use the stuff.
          Thanks also to Dan Brill for all the photos. Jiffy for letting us crash at her house. Matt Jervis and the
          Clark Nova. George Cockle, Germ, Pete at Fat, Peggy Day Rizzo, Audrey Howe, Howie Klein, Julie Janisch for
          letting us use her camera, Leland, Chris and Jen for letting me scan my pix, Gary Clayton for all your help.
          Jacquire, Brian Seaver for changing our strings, Paul Keene for best supporting actor, Charles Cohen and Chris
          Broeker for shooting video of our ugly mugs, Keith MacGowan and xFarm for all your advice and help, all our
          friends and families. Nori at Nori Sushi SF, and Kick Ass-A-Tone Records for all their guidance and lube.
          <br><br>
          Written by Chris Carroll and Bob Conlon<br>
          Programmed by Bob Conlon
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col offset-lg-7 col-lg-4 image">
        <div class="image-wrapper">
          <img src="/assets/images/full-band-3.jpg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col offset-lg-1 col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
    </div>

  </div>
</div>


