@import "bootstrap/scss/bootstrap";


.credits {
  // @include media-breakpoint-down(lg) { display: none; }
  // @include media-breakpoint-up(lg) { display: inline; }

  .text {
    font-family: carbon;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -2px;
    z-index: 20;
  }

  .image {
    position: relative;
    margin-bottom: 80px;
  }
  .image-wrapper {
    position: absolute;
    top: -80px;
  }

}