
<div class="container">
  <div class="bio5">
    <div class="row">
      <div class="col offset-lg-1 col-lg-5 text">
        <p>After making a go at it as "Bullet Proof Transmission" and "Supermodel Slumber Party", they stumbled across the name Decal and thought it would look good on a sticker...
        </p>
      </div>
      <div class="col col-lg-6 image">
        <div class="image-wrapper">
          <img src="{{imagePath}}">
        </div>
      </div>
    </div>


    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
      <div class="col offset-lg-5 col-lg-2">
        <button class="prev-button small" (click)="handlePrevClick()">PREV</button>
      </div>
      <div class="col col-lg-2">
        <button class="next-button small" (click)="handleNextClick()">NEXT</button>
      </div>
    </div>

  </div>
</div>