
<div class="container">
  <div class="profile">
    <div class="row">
      <div class="col col-lg-4">
        <img src="/assets/images/chris-carroll-face.jpg">
      </div>
      <div class="col col-lg-7 text">
        <div class="row">
          <div class="col text-header">
            <p>Vital Statistics</p>
          </div>
        </div>

        <div class="row">
          <div class="col profile-text-body" [@openClose]="isOpen ? 'open' : 'closed'">

            <p class="list-header">Chris Carroll</p>
            <ul>
              <li>Guitarist</li>
              <li>6’0” 160 lbs</li> 
              <li>Hair: Yes</li> 
              <li>Eyes: Green</li>
            </ul>
            <p class="list-header">Code Name:</p>
            <ul>
              <li>Martini</li>
            </ul>
            <p class="list-header">Recognizable scars, tattoos or birthmarks:</p>
            <ul>
              <li>none ... <br>well, we can’t really tell what it is, so we’ll call it a tattoo of the Blob, but kinda looks like a birthmark too</li>
            </ul>
            <p class="list-header">Greatest Aspirations:</p>
            <ul>
              <li>to fix my ‘75 Dart Swinger so I can sell it and pay for my cat’s lipo/suction operation</li>
            </ul>
            <p class="list-header">Hobbies:</p>
            <ul>
              <li>surfing, scratching & bench pressing the family cat</li>
            </ul>

          </div>
        </div>

      </div>

      <div class="col col-lg-1 text-block"></div>

    </div>

    <div class="row">
      <div class="col col-lg-3">
        <button class="back-button small" (click)="handleBackClick()">BACK</button>
      </div>
    </div>

  </div>
</div>