

<div class="container">
  <div class="bio6">
    <div class="row">
      <div class="col col-lg-12 text">
        <p>"We're not wearing the suits in most of these pictures. It's rare for us, but our suits were out at the cleaners on this particular night. Besides, the music's not really like any of those bands that you would see wearing skinny black ties. It's just crappy pop rock, but if you’re not careful, it will drop a load on your head that will have you humming the shit for a week."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-2 spacer"></div>
      <div class="col col-lg-8 image">
        <div class="image-wrapper">
          <img src="{{imagePath}}">
        </div>
      </div>
    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
      <div class="col offset-lg-5 col-lg-2">
        <button class="prev-button small" (click)="handlePrevClick()">PREV</button>
      </div>
    </div>

  </div>
</div>