
<div class="container">
    <div class="bio2">
      <div class="row">
        <div class="col col-lg-7 text">
          <p>With a set that barely exceeds twenty eight minutes (go ahead time us) Decal has been turning heads, sometimes away, throughout the Pacific Northwest for almost a year.
          </p>
        </div>
      </div>
  
      <div class="row image">
        <div class="col offset-lg-4 col-lg-7">
          <img src="{{imagePath}}">
        </div>
      </div>
  
      <div class="row controls">
        <div class="col col-lg-3">
          <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
        </div>
        <div class="col offset-lg-5 col-lg-2">
          <button class="prev-button small" (click)="handlePrevClick()">PREV</button>
        </div>
        <div class="col col-lg-2">
          <button class="next-button small" (click)="handleNextClick()">NEXT</button>
        </div>
      </div>
  
    </div>
  </div>