
<div class="container">
  <div class="profile">
    <div class="row">
      <div class="col col-lg-4">
        <img src="/assets/images/bob-face.jpg">
      </div>
      <div class="col col-lg-7 text">
        <div class="row">
          <div class="col text-header">
            <p>Vital Statistics</p>
          </div>
        </div>

        <div class="row">
          <div class="col profile-text-body" [@openClose]="isOpen ? 'open' : 'closed'">

            <p class="list-header">Bob Conlon</p>
            <ul>
              <li>Singer/Guitarist</li>
              <li>5’11” 160 lbs</li> 
              <li>Hair: Brn</li> 
              <li>Eyes: Blu</li>
              <li>Nose: big (as seen in picture left)</li>
              <li>Forehead: bigger</li>
            </ul>
            <p class="list-header">Code Name:</p>
            <ul>
              <li>Beak</li>
            </ul>
            <p class="list-header">Recognizable scars, tattoos or birthmarks:</p>
            <ul>
              <li>large birthmark on the right buttock in shape of Richard Milhouse Nixon</li>
            </ul>
            <p class="list-header">Greatest Aspirations:</p>
            <ul>
              <li>to speak english fluently</li>
            </ul>
            <p class="list-header">Hobbies:</p>
            <ul>
              <li>surfing, music & learning the ways of the Force</li>
            </ul>

          </div>
        </div>

      </div>

      <div class="col col-lg-1 text-block"></div>

    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button small" (click)="handleBackClick()">BACK</button>
      </div>
    </div>

  </div>
</div>