
@import '../profile.scss';

$maxheight: 640px;

.profile {

  .text-block {
    height: $maxheight;
  }

  .text {
    font-size: 18px;
    overflow: hidden;
    .profile-text-body {
      overflow: hidden;
    }
  }
  
}