

:host {
  .fist {
    outline: none;
    // position: absolute;
    position: relative;
    top: 10%;
    left: 10%;
    display: block;
    background-color: transparent;
    border: none;
    // height: 100px; 
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    // background-color: green;
    background-position: center;
    transition: 0.05s;
    &.bob {
      background-image: url(/assets/images/fist-of-bob.png);
    }
    &.chris {
      background-image: url(/assets/images/fist-of-chris-c.png);
    }
    &.stark {
      background-image: url(/assets/images/fist-of-chris-s.png);
    }
    &:hover {
      top: 3%;
      left: 3%;
      height: 100%;
      width: 100%;
    }

    &.expander {
      &.chris {
        animation: expander1 400ms;
        @keyframes expander1 {
          100% {
            width: 400%;
            height: 400%;
            top: -80%;
            left: -45%;
          }
        }
      }
      &.stark {
        animation: expander2 400ms;
        @keyframes expander2 {
          100% {
            width: 400%;
            height: 400%;
            top: -150%;
            left: -150%;
          }
        }
      }
      &.bob {
        animation: expander3 400ms;
        @keyframes expander3 {
          100% {
            width: 400%;
            height: 400%;
            top: -80%;
            left: -260%;
          }
        }
      }
    }

  }
}