

:host {
  .fist {
    outline: none;
    // position: absolute;
    position: relative;
    top: 10%;
    left: 10%;
    display: block;
    background-color: transparent;
    border: none;
    // height: 100px; 
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    // background-color: green;
    background-position: center;
    transition: 0.05s;
    &.bob {
      background-image: url(/assets/images/fist-of-bob.png);
    }
    &.chris {
      background-image: url(/assets/images/fist-of-chris-c.png);
    }
    &.stark {
      background-image: url(/assets/images/fist-of-chris-s.png);
    }
    &:hover {
      top: 3%;
      left: 3%;
      height: 100%;
      width: 100%;
    }
  }
}