<div class="container">
  <div class="game">

    <div class="row board" *ngIf="showBoard">
      <div class="col col-lg-12 bgimage" [style.backgroundImage]="'url('+ boardPath +')'">
        <div class="car" 
          *ngIf="gameStart"
          [@openClose]="isOpen ? 'open' : 'closed'"
          [style.backgroundImage]="'url('+ van +')'"
          ></div>
        <div class="boardTitle">
          <span class="the">the</span>
          <span class="decal">DECAL</span>
          <span class="bored">BORED GAME</span>
        </div>
      </div>
    </div>

    <div class="row questions-wrapper" *ngIf="!showBoard">
      <div class="col col-lg-12">
        <div class="row">
          <div class="col col-lg-12 offset-xl-1 col-xl-10">

            <div class="questions" *ngIf="!showAnswer">
              <form >
              <div class="row headline">
                <div class="col col-lg-1"><h2>{{gameInd + 1}}.</h2></div>
                <div class="col col-lg-11"><h2 [innerHTML]="gamedata[gameInd].headline"></h2></div>
              </div>
              <div class="row">
                <div class="col offset-lg-1 col-lg-11"><p class="subheadline" [innerHTML]="gamedata[gameInd].questionSubheadline"></p></div>
              </div>
              <div class="row question" *ngFor="let question of gamedata[gameInd].questions; let idx = index;">
                <div class="col col-lg-1"><input type="checkbox" name="{{'cbG0' + idx}}" id="{{'cbG0' + idx}}" class="css-checkbox" (change)="onCheckBoxChange($event, idx)"><label for="{{'cbG0' + idx}}" class="css-label cb0"></label></div>
                <div class="col col-lg-11"><p [innerHTML]="question.question"></p></div>
              </div>
              </form> 
            </div>

            <div class="answers" *ngIf="showAnswer">
              <div *ngTemplateOutlet="getTemplate()"></div> 
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
      <div class="col offset-lg-3 col-lg-2" *ngIf="gameStart">
        <button class="back-button inverse continue" (click)="handleGameStartClick()">CONTINUE</button>
      </div>
    </div>
    <div class="row controls">
      <div class="col offset-lg-6 col-lg-2">
        <button class="prev-button small" (click)="handleFlipClick()">FLIP</button>
      </div>
      <div class="col col-lg-2">
        <button class="prev-button small" (click)="handlePrevClick()">PREV</button>
      </div>
      <div class="col col-lg-2">
        <button class="next-button small" (click)="handleNextClick()">NEXT</button>
      </div>
    </div>
    
  </div>
</div>


<ng-template #myTemplateRef1>
  <div class="row">
    <div class="col col-lg-12">
      <p [innerHTML]="gamedata[gameInd].answers[answerIndex].answer"></p>
    </div>
  </div>
  <div class="row justify-content-center answer-controls">
    <div class="col col-lg-auto">
      <button class="back-button" (click)="handleAnswerClick()">CONTINUE</button>
    </div>
  </div>
</ng-template>

<ng-template #myTemplateRef2>
  <div class="row">
    <div class="col col-lg-12">
      <p>ITEM 2 template
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-auto">
      <button class="back-button" (click)="handleAnswerClick()">CONTINUE</button>
    </div>
  </div>
</ng-template>