<div class="container">
  <div class="row">
    <div class="bio4 col col-lg-12">
      <div class="col col-lg-auto video-wrapper">
        <video-player class="video-player"></video-player>
      </div>
    </div>
  </div>
  <div class="row controls">
    <div class="col col-lg-3">
      <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
    </div>
    <div class="col col-lg-5">
      <p>But wait, there's more...</p>
    </div>
    <div class="col col-lg-2">
      <a href="/bio/bio3">link left</a>
    </div>
    <div class="col col-lg-2">
      <a href="/bio/bio5">link right</a>
    </div>
  </div>
</div>