<div class="container bio4">
  <div class="row">
    <div class="col col-lg-1 crutch"></div>
    <div class="col col-lg-10">
      <div class="col col-lg-auto video-wrapper">
        <video-player class="video-player" [item]="videoObj"></video-player>
      </div>
    </div>
    <div class="col col-lg-1"></div>
  </div>
  <div class="row controls">
    <div class="col col-lg-3">
      <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
    </div>
    <div class="col col-lg-5 text">
      <p>But wait, there's more...</p>
    </div>
    <div class="col col-lg-2">
      <a class="prev-button small" href="/bio/bio3">PREV</a>
    </div>
    <div class="col col-lg-2">
      <a class="next-button small" href="/bio/bio5">NEXT</a>
    </div>
  </div>
</div>