<div class="container">
  <div class="profile">
    <div class="row">
      <div class="col col-lg-4 text">
        <img src="/assets/images/steve-face.jpg">
      </div>
      <div class="col col-lg-7 text">
        <p>Vital Statistics</p>
        <p class="list-header">Steve Faine</p>
        <ul>
          <li>bassist</li>
          <li>6’4” 230 lbs</li>
          <li>Hair: Blu </li>
          <li>Eyes: Brn</li>
        </ul>
        <p class="list-header">Code Name:</p>
        <ul>
          <li>Chewbacca</li>
        </ul>
        <p class="list-header">Recognizable scars, tattoos or birthmarks:</p>
        <ul>
          <li>tattoo of the last supper just above the pubic line</li>
        </ul>
        <p class="list-header">Greatest Aspirations:</p>
        <ul>
          <li>to take one band picture where eyes are completely open</li>
        </ul>
        <p class="list-header">Hobbies:</p>
        <ul>
          <li>tooth decay, bad movies & scaring small children</li>
        </ul>
  
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleBackClick()">BACK</button>
      </div>
    </div>

  </div>
</div>