<div class="container">
  <div class="bio bio1">
    <div class="row">
      <div class="col offset-lg-3 col-lg-8 text">
        <p>Decal became a band in a dank practice space somewhere in San Francisco's Mission district.
          <br><br>
          Weaned on pop, punk and garage rock, these loveable lunk heads don't really care much about their musical
          roots, but still manage to create a sound that's sorta familiar, but different.
          <br><br>
          Hey, they're really fun to see live!
        </p>
      </div>
    </div>

    <div class="row image">
      <div class="col col-lg-8">
        <img src="{{imagePath}}">
      </div>
      <div class="col col-lg-1 spacer"></div>
    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
      
      <div class="col offset-lg-7 col-lg-2">
        <button class="next-button small" (click)="handleNextClick()">NEXT</button>
      </div>
    </div>

  </div>
</div>