
<div class="container">
  <div class="profile">
    <div class="row">
      <div class="col col-lg-4">
        <img src="/assets/images/stark-face.jpg">
      </div>
      <div class="col col-lg-7 text">
        <div class="row">
          <div class="col text-header">
            <p>Vital Statistics</p>
          </div>
        </div>
        <div class="row">
          <div class="col profile-text-body" [@openClose]="isOpen ? 'open' : 'closed'">
            
            <p class="list-header">Chris Stark</p>
            <ul>
              <li>Drummer</li>
              <li>6’1” 168 lbs</li> 
              <li>Hair: Brn?</li> 
              <li>Eyes: Bad</li>
            </ul>
            <p class="list-header">Code Name:</p>
            <ul>
              <li>Burgess</li>
            </ul>
            <p class="list-header">Recognizable scars, tattoos or birthmarks:</p>
            <ul>
              <li>scar on forehead from mother after
                discovery of anchor tattoo on chest </li>
            </ul>
            <p class="list-header">Greatest Aspirations:</p>
            <ul>
              <li>to find out what original hair color was</li>
            </ul>
            <p class="list-header">Hobbies:</p>
            <ul>
              <li>cooking, surfing the web & watching static sparks or freshly washed blankets</li>
            </ul>

          </div>
        </div>

      </div>

      <div class="col col-lg-1 text-block"></div>

    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button small" (click)="handleBackClick()">BACK</button>
      </div>
    </div>

  </div>
</div>