.bio3 {
  .text {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -2px;
    z-index: 20;
  }
  .image {
    position: relative;
    top: -190px;
  }
  .controls {
    position: relative;
    top: -140px;
  }
  .profile-links {
    button {
      background: none!important;
      border: none;
      padding: 0!important;
      color: #007bff;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}