
<div class="container">
  <div class="bio3">

    <div class="row">
      <div class="col col-lg-11 text">
        <p>
          Guitarist Bob Conlon, who came from San Francisco's melodic slop rock band, The Clavens, formed with local drummer, Chris Stark, to create the beginnings of Decal.
          <br><br>
          Originally joining S.F.'s music scene as a three piece, like all bands, they had their share of personnel problems. But, after several lineup changes, bass player Steve Faine and guitarist Chris Carroll were recruited to complete the group.
          <br><br>
          <br><br>
          At this time the band<br> was
          called G.U.S.
        </p>
      </div>
    </div>

    <div class="row image">
      <div class="col offset-lg-4 col-lg-6">
        <div class="row">
          <div class="col">
            <img src="{{imagePath}}">
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-3">
            <a href="/bio/profile1">Chris</a>
          </div>
          <div class="col col-lg-3" style="text-align: center;">
            <a href="/bio/profile2">Bob</a>
          </div>
          <div class="col col-lg-3" style="text-align: center;">
            <a href="/bio/profile3">Steve</a>
          </div>
          <div class="col col-lg-3">
            <a href="/bio/profile4">Chris</a>
          </div>
        </div>

        <div class="row">
          <div class="col">Check out the band profiles!</div>
        </div>
        
      </div>
    </div>

    <div class="row controls">
      <div class="col col-lg-3">
        <button class="back-button" (click)="handleMenuClick()">MAIN MENU</button>
      </div>
      <div class="col offset-lg-5 col-lg-2">
        <a class="prev-button small" href="/bio/bio2">PREV</a>
      </div>
      <div class="col col-lg-2">
        <a class="next-button small" href="/bio/bio4">NEXT</a>
      </div>
    </div>

  </div>
</div>