.bio3 {
  .text {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -2px;
    z-index: 20;
  }
  .image {
    position: relative;
    top: -190px;
  }
  .controls {
    position: relative;
    top: -140px;
  }
}