@import "bootstrap/scss/bootstrap";

.ask {
  
  .bgimage {
    padding-left: 0;
    padding-right: 0;
    display: block;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
  }

  .bg-overlay {
    display: flex;
    opacity: 0;
    position: relative;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
  }

  .links {
    &.hideLinks {
      display: none;
    }
    padding-top: 65px;

    button {
      background: transparent;
      border: none;
      color: #000;
      text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.33);
      &:hover {
        color: #007bff;
      }
      &:focus {
        outline: 0;
      }
    }

    .hungry {
      font-size: 36px;
      transform: perspective(200px) scaleZ(1.5) rotateX(38deg) rotateY(-8deg);
    }
  
    .suits {
      font-size: 24px;
      transform: rotate(8deg);
    }

    .live {
      font-size: 22px;
      transform: rotate(-2deg);
    }
    .strings {
      padding-top: 30px;
      font-size: 36px;
      perspective: 227px;
      button {
        transform: rotate(340deg) skew(24deg, 17deg);
      }
    }

    .rear {
      font-size: 24px;
    }

    .weird {
      z-index: 1000;
      font-size: 24px;
      padding-top: 20px;
      position: relative;
      -webkit-perspective: 260px;
      perspective: 260px;
      button {
        transform: perspective(170px) rotateX(12deg) rotateY(353deg);
      }
    }

    .show {
      z-index: 999;
      padding-top: 30px;
      font-size: 22px;
      transform: rotate(352deg) skew(8deg, 0deg);
    }
    
    .time {
      padding-top: 40px;
      font-size: 26px;
      transform: rotate(7deg) skew(19deg, -3deg);
    }

    .kick {
      img {
        width: auto;
        max-height: 68px;
        &:hover {
          opacity:0.75;
        }
      }
    }

  }

  .lightbox-container {
    &.bandKick {
      .lightbox-video-wrapper {
        padding-bottom: 0;
        top: -2em;
      }
      .lightbox-btn, .lightbox-btn-close {
        display: none;
      }
    }
      
  }

  .kickBig {
    img {
      height: 550px;
      width: auto;
    }
  }

  // lets get weird for a second
  .weirdSlide {
    color:#000;

    p {
      font-size: 24px;
    }
    .continue {
      padding-top: 20px;
    }
    .continue-row {
      text-align: center;
    }
    .video-row {
      text-align: center;
    }
    .weirdSlide1 {
      // padding-top: 20px;
      padding-top: 2em;
      p {
        line-height: initial;
        letter-spacing: -1px;
      }
    }
    .pizza-bob {
      text-align: center;
      img {
        width: auto;
        max-height: 385px;
      }
    }
    .pizza-text {
      text-align: center;
      padding-top: 10px;
    }
  }

  // video lightbox
  .lightbox-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    padding: 2em;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #1d1d1d;
    background-color: rgba(29,29,29,.8);

    .lightbox-wrapper {
      position: relative;
    }

    .lightbox-content {
      box-sizing: border-box;
      border: 0;
      padding: 0;
      margin: 0;
    }
    .lightbox-video-wrapper {
      overflow: hidden;
      position: relative;
      padding-bottom: 2em;
    }

    .lightbox-btn {
      z-index: 2002;
      width: 2.2em;
      height: 2.2em;
      position: absolute;
      border-radius: 50%;
      background-color: #000;
      background-position: center;
      &::before {
        content: "X";
        position: absolute;
        top: 1px;
        left: 9px;
        color: #808080;
        font-size: 20px;
      }
    }
    .lightbox-btn-close {
      top: -1.4em;
      right: -1.4em;
      background-size: 40%;
    }


    .video-row {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .video-wrapper {
      position: relative;
      .video {
        z-index: 10000;
      }
    }

  }

  .controls {
    margin-top: 20px;
  }

}